@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.ticTacToe {
  .container {
    max-width: 400px;
    padding: 5px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    width:100% !important;
  }

  .colorRed{
    color: red;
  }
  .colorBlue{
    color: blue;
  }
  .colorGold{
    color: goldenrod;
  }
 .colorGreen{
   color: green;
 }
 .colorPink{
   color: palevioletred;
   font-weight: bold;
 }
  .rewardPad{
    padding: 4px 0 0 4px;    
  }
  .borderLeft{
    border-left: 2px solid lightgray;
  }
  .borderBottom{
    border-bottom: 2px solid lightgray;
  }
  .padGrid{
    padding: 10px;    
  }
  .emptyCell{
    width:100%;
    height: 50px;
  }
  .filledCell{
    width: 100%;
    height: 53px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size-adjust: 30px !important;
    font-size: 30px;
    color:red;
    line-height: 40px;
  }
  .floatRt{
    float: right;
  }
  .txtBold{
    font-weight: bolder;
  }
  .disable{
    pointer-events:none;
  }
}